@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
html {
  font-family: "Ubuntu Mono", monospace;
  color: rgb(247, 247, 247);
  background-color: rgb(31, 31, 31);
}

*::selection {
  background-color: rgb(66, 66, 66);
}

br {
  user-select: none;
}
