@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
html {
  font-family: 'Ubuntu Mono', monospace;
  color: rgb(247, 247, 247);
  background-color: rgb(31, 31, 31);
}

span::selection, summary::selection {
  background-color: rgb(66, 66, 66);
}

details {
  display: inline;
}

summary {
  cursor: pointer;
}

summary::marker {
  color: blue;
}

summary:focus {
  outline: none;
  text-decoration: underline;
}

summary[isarr="true"] {
  color: yellow;
}

summary[isarr="true"]::marker {
  color: yellow;
}

summary[isarr="true"]::before {
  content: "[] ";
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  color: rgb(247, 247, 247);
  background-color: rgb(19, 19, 19);
  border: none;
  border-radius: 10px;
  padding: 10px;
  overflow-y: scroll;
}

textarea:focus {
  outline: none;
  border: 2px solid white;
}

textarea:not(:focus) {
  opacity: 50%;
}

textarea::placeholder {
  font-style: italic;
}

details:not([open]) [entries]:not([entries="0"]):not([entries="1"])::after {
  content: " (" attr(entries) " entries)";
  color: green;
}

details:not([open]) [entries="1"]::after {
  content: " (1 entry)";
  color: green;
}

details [entries="0"]::after {
  content: " (empty)";
  color: red;
}

span[typeof="number"] {
  color: yellow;
}

span[typeof="object"] {
  color: grey;
}

span[typeof="string"] {
  color: blueviolet;
}

span[typeof="boolean"][val="true"] {
  color: green;
}

span[typeof="boolean"][val="false"] {
  color: red;
}