body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

details {
  display: inline;
}

summary::marker {
  color: blue;
}

textarea {
  width: 50%;
  height: 100px;
}

textarea::placeholder {
  font-style: italic;
}

details:not([open=""]) [entries]:not([entries="0"]):not([entries="1"])::after {
  content: " (" attr(entries) " entries)";
  color: green;
}

details:not([open=""]) [entries="1"]::after {
  content: " (1 entry)";
  color: green;
}

details [entries="0"]::after {
  content: " (empty)";
  color: red;
}